* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #2d314d;
  --lime-green: #31d35c;
  --bright-cyan: #2bb7da;
  --grayish-blue: #9698a6;
  --light-grayish-blue: #f3f4f6;
  --very-light-gray: #fafafa;
  --width-container: 1100px;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

span,
p,
h1,
h2,
h3,
a {
  font-family: "Public Sans", sans-serif;
}
/* HEADER */

header {
  display: flex;
  height: 80px;
  flex: 1;
  background-color: white;
  position: relative;
  z-index: 10;
}

header div.header {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-container);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

header nav {
  margin-right: auto;
  margin-left: 20%;
}

header ul {
  text-align: center;
}

header ul li {
  display: inline-block;
  padding: 0 14px;
}

header ul li a {
  text-decoration: none;
  font-size: 14px;
  color: var(--grayish-blue);
}

.buttonOpenAccount span {
  background-color: green;
  width: 160px;
  height: 44px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #33d35e, #2ab6d9);
  color: white;
}
.buttonOpenAccount {
  text-decoration: none;
  font-size: 14px;
  color: white;
  font-weight: bold;
  transition: 0.5s;
}
/* MAIN */
#section-main-div {
  background-color: var(--very-light-gray);
}
main div#main-div {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: left;
}

main div#main-div-text {
  width: 50%;
}

main div#main-div-text h1 {
  font-size: 54px;
  color: var(--dark-blue);
  font-weight: 250;
}

main div#main-div-text p {
  font-size: 18px;
  color: var(--grayish-blue);
  font-weight: 250;
  margin-top: 40px;
  margin-bottom: 40px;
}

main div#main-div-image {
  position: relative;
}
main div#main-div-image img#intro {
  position: absolute;
  top: -590px;
  left: 0px;
}

main div#main-div-image img#phone {
  position: absolute;
  top: -450px;
  left: 200px;
}

main section#section-why {
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: left;
}
main {
  background-color: var(--light-grayish-blue);
}
main div#why-div h1,
main section#articles h1 {
  font-size: 40px;
  color: var(--dark-blue);
  font-weight: 250;
}
main div#why-div p {
  font-size: 18px;
  color: var(--grayish-blue);
  font-weight: 250;
  margin-top: 40px;
}

main section#cards,
main section#section-why,
main div#main-div,
main section#articles,
footer .footer {
  max-width: var(--width-container);
  margin: 0 auto;
}

main section#cards div#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

main section#cards div#grid h1 {
  font-size: 24px;
  color: var(--dark-blue);
  font-weight: 250;
  margin-bottom: 20px;
  margin-top: 40px;
}

main section#cards div#grid p {
  font-size: 16px;
  line-height: 25px;
  color: var(--grayish-blue);
  font-weight: 250;
  padding-bottom: 100px;
}

#color-article {
  background-color: var(--very-light-gray);
  padding-top: 100px;
  padding-bottom: 130px;
}

main section div.articles-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

main section#articles h1 {
  margin-bottom: 40px;
  font-weight: 500;
}

main section div.articles-cards div.article {
  /* display: flex;
  flex-direction: column; */
  background-color: #ffffff;
}
main section div.articles-cards div.article .image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

main section div.articles-cards div.article .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px 10px 0 0;
}

.content {
  margin: 0 25px;
}

.content span {
  font-size: 10px;
  color: var(--grayish-blue);
  display: inline-block;
  margin-top: 30px;
}

.content h3 {
  color: var(--dark-blue);
  margin-top: 10px;
  font-weight: 400;
}

.content p {
  margin-top: 10px;
  color: var(--grayish-blue);
  line-height: 20px;
}
/* Footer */
footer {
  background-color: var(--dark-blue);
  height: 200px;
}

footer div.footer {
  display: flex;
  align-items: center;
  justify-content: left;
}

footer div.medias {
  margin-top: 50px;
  width: 350px;
}

footer div.social {
  margin-top: 45px;
}

footer div.social img {
  padding: 5px;
}

footer div.footer-links {
  margin-top: 50px;
}

footer div.footer-links .list-1 {
  margin-right: 110px;
}

footer div.footer-links ul {
  list-style: none;
  color: white;
  font-family: "Public Sans", sans-serif;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
}

footer div.footer-links ul li {
  padding: 10px 0;
}

footer div.footer-button {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

footer div.footer-button a {
  margin-top: 40px;
}

footer div.footer-button p {
  color: var(--grayish-blue);
  margin-top: 30px;
}
/* DIVS */
p {
  line-height: 25px;
}
/* Hover */
header a:hover {
  color: var(--dark-blue);
  transition: 0.5s;
}

.buttonOpenAccount:hover {
  opacity: 0.5;
}

h3:hover {
  color: var(--lime-green);
  transition: 0.5s;
  cursor: pointer;
}

footer li:hover {
  color: var(--lime-green);
  transition: 0.5s;
  cursor: pointer;
}

footer .social {
  color: var(--lime-green);
  transition: 0.5s;
  cursor: pointer;
}
